    <header class="p-6 bg-gray-800 text-white">
      <h1 class="text-2xl font-bold">Digital Abode</h1>
      <h2 class="text-xl">Home Laboratory</h2>
      <!-- <button class="mt-4 px-4 py-2 bg-blue-500 rounded">Edit Config</button> -->
    </header>
    <main class="p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Cloud Section -->
      <section>
        <h3 class="text-xl font-bold mb-4">High Priortiy</h3>
        <div >
          <ul class="space-y-4 text-blue-500">
            <!-- make the next 3 like the first one where it uses htmx but replace it with the current href  and remove the href-->
            <li class="p-4 bg-gray-800 rounded" hx-get="/bot-party" hx-target=".display-my-dick">
              <a>Bot Party </a>
            </li>
            <li class="p-4 bg-gray-800 rounded" hx-get="/video-to-pdf" hx-target=".display-my-dick">
              <a>Video to PDF </a>
            </li>
            <li class="p-4 bg-gray-800 rounded" hx-get="/info-diet" hx-target=".display-my-dick">
              <a>Information Diet LLM </a>
            </li>
          </ul>
        </div>
      </section>
      <!-- Notes Section -->
      <section>
        <h3 class="text-xl font-bold mb-4">Supporting Serivces</h3>
        <div class="space-y-4 text-white">
          <div class="p-4 bg-gray-800 rounded"><a class="block text-blue-500 hover:text-blue-800 my-2" href="/lidar-captcha">Immich</a></div>
            <div class="p-4 bg-gray-800 rounded"><a class="block text-blue-500 hover:text-blue-800 my-2" href="/lidar-captcha">JellyFin</a></div>
            <div class="p-4 bg-gray-800 rounded"><a class="block text-blue-500 hover:text-blue-800 my-2" href="/lidar-captcha">Ollama-Cnat</a></div>
            <li class="p-4 bg-gray-800 rounded"><a href="/twilio">twilio modalitites</a></li>
            <li class="p-4 bg-gray-800 rounded"><a href="/dating-photos">levels.io Photos</a></li>
        </div>
      </section>
      <!-- Repositories Section -->
      <section>
        <h3 class="text-xl font-bold mb-4">Low Priority</h3>
        <ul class="space-y-4 text-blue-500">
          <li class="p-4 bg-gray-800 rounded"><a href="/git-commit-visualizer">github-repo-commit-visualizer</a></li>
        <li class="p-4 bg-gray-800 rounded"><a href="/lidar-captcha">Lidar Captcha</a></li>
          <div class="p-4 bg-gray-800 rounded">
            https://t.co/ppxxpbwf1S
          </div>
          <div class="p-4 bg-gray-800 rounded">

            nixos pixel streaming
          </div>
          <div class="p-4 bg-gray-800 rounded"></div>
          <div class="p-4 bg-gray-800 rounded"></div>
        </ul>
      </section>

      <div class="display-my-dick p-4 bg-gray-800 rounded">display shit here</div>

      <!-- Media Section -->
      <!-- <section>
           <h3 class="text-xl font-bold mb-4">Media</h3>
           <div class="space-y-4">
           <div class="p-4 bg-gray-800 rounded">Plex - Media Center</div>
           <div class="p-4 bg-gray-800 rounded">PodGrab - Podcasts Downloader</div>
           <div class="p-4 bg-gray-800 rounded">PhotoPrism: Abhilesh - Photo Management and Gallery</div>
           <div class="p-4 bg-gray-800 rounded">PhotoPrism: Nadya - Photo Management and Gallery</div>
           </div>
           </section>


           <section>
           <h3 class="text-xl font-bold mb-4">Indexers</h3>
           <div class="space-y-4">
           <div class="p-4 bg-gray-800 rounded">Overseerr - Media Requester</div>
           <div class="p-4 bg-gray-800 rounded">Prowlarr - Indexers Management</div>
           <div class="p-4 bg-gray-800 rounded">Sonarr - TV Show Collection Manager</div>
           <div class="p-4 bg-gray-800 rounded">Radarr - Movie Collection Manager</div>
           <div class="p-4 bg-gray-800 rounded">Readarr - Books Collection Manager</div>
           <div class="p-4 bg-gray-800 rounded">Lidarr - Music Collection Manager</div>
           <div class="p-4 bg-gray-800 rounded">Bazarr - Subtitles Collection Manager</div>
           </div>
           </section>


           <section>
           <h3 class="text-xl font-bold mb-4">Download</h3>
           <div class="space-y-4">
           <div class="p-4 bg-gray-800 rounded">Tube Archivist - YouTube Downloader</div>
           <div class="p-4 bg-gray-800 rounded">Flood WebUI - Beautiful WebUI for torrent clients</div>
           <div class="p-4 bg-gray-800 rounded">Transmission - Torrent Downloader</div>
           <div class="p-4 bg-gray-800 rounded">Transmission-VPN - Torrent Downloader behind a VPN</div>
           <div class="p-4 bg-gray-800 rounded">Qbittorrent-VPN - Torrent Downloader behind a VPN</div>
           </div>
           </section>


           <section>
           <h3 class="text-xl font-bold mb-4">Tools</h3>
           <div class="space-y-4">
           <div class="p-4 bg-gray-800 rounded">AdGuard Home - DNS-Level Ad Blocking</div>
           <div class="p-4 bg-gray-800 rounded">Authelia - SSO Authentication</div>
           <div class="p-4 bg-gray-800 rounded">Home Assistant - Smart Home Management</div>
           <div class="p-4 bg-gray-800 rounded">Gotify - Push Notifications Server</div>
           <div class="p-4 bg-gray-800 rounded">Code-Server - Remote VS Code Editor</div>
           </div>
           </section>


           <section>
           <h3 class="text-xl font-bold mb-4">Server</h3>
           <div class="space-y-4">
           <div class="p-4 bg-gray-800 rounded">Grafana - Server Monitoring Dashboards</div>
           <div class="p-4 bg-gray-800 rounded">Uptime-Kuma - Webservices monitor</div>
           <div class="p-4 bg-gray-800 rounded">Portainer - Docker Container Management</div>
           <div class="p-4 bg-gray-800 rounded">Nginx Proxy Manager - Reverse Proxy Management</div>
           </div>
           </section> -->
    </main>
    </body>
    <!-- <h1 class="text-3xl font-bold underline text-center my-4">ATAK FOOD DELIVERY APP - SWARMBOTICS.ai</h1>
         moonshot
         <ul class="list-disc pl-5">
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/dating-photos">DATING PHOTO GENERATOR AND PROFILE EVAL LOL</a></li>

         <h1 class="text-2xl font-semibold my-3">Projects</h1>

         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/VideoToPdf">VideoToPdf</a></li>

         <h1 class="text-2xl font-semibold my-3">GPU Training</h1>
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/VideoToPdf">VideoToPdf</a></li>
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/stream-game">stream-game</a></li>
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/twilio-modalities">email+twilio+instagram+tiktok</a></li>

         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/robot-doctor">robot-doctor</a></li>
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/lidar-captcha">lidar-captcha</a></li>

         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/stream-game">Stream Game - VR/XR/Spatial/Pokemon Go/Gamify Life</a></li>
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/information-diet-audit">information diet - visual recommendation engine eats your existing bookmarks and history (optionally) and then recommends stuff you may probably want??</a></li>

         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/planner">Prediction and Planning</a></li>
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/gans">Generative Adversarial Network</a></li>
         <li class="my-2"><a class="text-blue-500 hover:text-blue-800" href="/blue-dots">Blue Dots</a></li>

         </ul> -->


