
<body class="container mx-auto p-4">
    <!--make this header better and have lots of tailwind.css-->
    <header class="text-center mb-6">
        Control Panel
    </header>
    
    <div class="flex justify-center">
        <button hx-get="/drive" class="mr-4 bg-blue-500 text-white px-4 py-2 rounded mb-4">Drive</button>
        <button hx-get="/brake" class="mr-4 bg-blue-500 text-white px-4 py-2 rounded mb-4">Brake</button>
        <button hx-get="/joystick" class="mr-4 bg-blue-500 text-white px-4 py-2 rounded mb-4">Joystick</button>
        <button hx-post="/beep" class="bg-blue-500 text-white px-4 py-2 rounded mb-4">Beep</button>
    </div>

    <div class="h-screen w-5/6 flex items-center justify-center">
        <video width="100%" height="auto" controls><source src="/static/video/dSX5eoD4-u4.mp4" type="video/mp4">Your browser does not support the video tag.</video>
    </div>

 </body>





<!-- add Self Healing Maps
     live stream!
     rts, rpg,

     LIKE MARIO PARTY BUT WITH ROBOT
     https://www.nytimes.com/wirecutter/reviews/best-point-and-shoot-camera/
     https://www.nytimes.com/wirecutter/reviews/best-tv-wall-mount/
     https://www.nytimes.com/wirecutter/reviews/best-oled-tv/

     BEST RESERACH ON HANDS
     https://www.nytimes.com/wirecutter/reviews/best-4k-tv/
     https://www.nytimes.com/wirecutter/reviews/best-lcd-led-tv/
     https://www.nytimes.com/wirecutter/reviews/best-chromebook/
     https://www.nytimes.com/wirecutter/reviews/best-all-in-one-computer/
     https://www.nytimes.com/wirecutter/reviews/best-mini-desktop-pcs/
     https://www.nytimes.com/wirecutter/reviews/best-android-phone/
     RTIGS I LOVE YES
     3 -->
