    <body>
        <ul>
            <li><a>admin</a></li>
            <li><a>index</a></li>
            <li><a>deployments</a></li>
            <li><a>prometheus</a></li>
            <li><a>sentry</a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>


            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>

            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
        </ul>
    </body>
