<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->




<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Untitled</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->


        <!-- <link rel="stylesheet" href="/static/css/tailwind.css" /> -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-blue-100">
        <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
  <li class="relative">
    <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
      <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="pointer-events-none object-cover group-hover:opacity-75">
      <button type="button" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">View details for IMG_4985.HEIC</span>
      </button>
    </div>
    <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">IMG_4985.HEIC</p>
    <p class="pointer-events-none block text-sm font-medium text-gray-500">3.9 MB</p>
  </li>

  <!-- More files... -->
        </ul>

        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
        <ul>
            <li><a href="/dating-photos"></a></li>
            <li><a href="/twilio-modalities">email+twilio+instagram+tiktok</a></li>
            <li><a href="/stream=game">stream-game</a></li>
            <li><a href="/book-maker">books</a></li>
            <li><a href="/events">events</a></li>
        </ul>

        Quote -> Video Locator ? - replace or plug into jellyfin OOMG
        Dating Photo Generator - take two photos and compute union

        Vision Transformer

        /quote
        /dating-photo-generator
        /vision-transformer


        fix
        - android
        - steam deck?? lo
        - robotics "homelab / hobbyist"  +
        - dating photos
        - linux desktop software
        - specifically Wayland Desktop Environment
        - using LLMs to parse logs and create summaries / solutions and error messages that are human - readable
        - Book maker
        - trigger events from photos you take = stream game
        - automation API ? (VM + PIXEL STREAM LOL VIA WEBRTC w/ P2P LOL )
        - Information diet analyzer / filter ? - visual reccomendation engine + RAG BUILDER lol







    </body>
</html>
